@model PizzaDelivery.Mocks.MocksPizzeys

@{
    ViewData["Title"] = "OrderPizza";
}

<div class="wrapper">
    <form class="text-md-center" action="~/Home/SetProduct" method="post">
        @for (int i = 0; i < @ViewBag.count; i++)
        {
            <h3>Pizza # @(i+1)</h3>
            <p>
                <label>Name Pizza</label>
                <input list="pizza" type="text" name="products[@i].PizzaName" placeholder="choose sort of pizza" />
                <datalist id="pizza">
                    @foreach (var item in Model.Pizzeys)
                    {
                        <option value="@item.PizzaName"></option>
                    }
                </datalist>
            </p>
            <p>
                <label>mark if you want bitter pizza</label>
                <input class="btn-check" type="checkbox" name="products[@i].IsBitter" value="true" />
            </p>

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="products[@i].Size" value="1" id="small" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Small</label>

                    <input type="radio" class="btn-check" name="products[@i].Size" value="2" id="medium" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Medium</label>

                    <input type="radio" class="btn-check" name="products[@i].Size" value="3" id="large" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Large</label>
                </div>

            <div class="divider div-transparent div-dot"></div>

        }
        <button style="margin-top: 2%;" type="submit" value="SetProduct" class="registerbtn">OK</button>

    </form>
    </div>

