<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <footer class="container">
        <p class="float-end"><a href="/Home/Index">Back to top</a></p>
        <p>@Time.LocalTime() · </p>
    </footer>
</body>
</html>
