<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <footer class="container">
        <p class="float-end"><a href="/Home/Index">Back to top</a></p>
        <p>© 2020–2021 All rights reserved. · </p>
    </footer>
</body>
</html>
